@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;

    min-width: 320px;
    min-height: 100vh;
}

#root {
    position: relative;
    z-index: 1;
}

#root::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transform: translate(-50%, -50%);

    background-color: #A67449;
    background-image: 
        linear-gradient(45deg, #734C29 25%, transparent 25%), 
        linear-gradient(-45deg, #734C29 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #734C29 75%), 
        linear-gradient(-45deg, transparent 75%, #734C29 75%);

    background-size: 100px 100px;
    background-position: 0 0, 0 50px, 50px -50px, -50px 0px;

    height: 100vh;
    width: 100vw;
    filter: blur(3px);
    z-index: -1;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    border-bottom: #734c29 solid 3px;
    padding-bottom: 5px;
    margin: 25px;
    color: black;
}

input[type="file"] {
    padding: 10px;
    background: #00000075;
    border-radius: 8px;
    border: #ffffff9e solid 1px;
}

.component {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    border: #c6c6c6 3px solid;
    display: flex;
    flex-direction: row;
    
    background: #D9AB82;
}